:root {
    --color-1: #FFF5E0;
    --color-2: #8DECB4;
    --color-3: #41B06E;
    --color-4: #141E46;
    --color-5: rgb(243, 250, 255);
  }
  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    color: var(--color-4);
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
    linear-gradient(120deg, #fff5e0cc 0%, #8decb4cb 90%),
    url("https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.container{
    width: 90%;
    max-width: 720px;
    margin: 5rem auto;
}

header{
    padding: 2rem;
    
}

form{
    background-color: var(--color-1);
    padding: 2rem 1rem;
    border-radius: 2rem;
}

.form-group{
    padding: .5rem;
}

.form-control{
    display: block;
    width: 100%;
    margin: 1rem auto .5rem auto;
    padding: .5rem;
    border-radius: .6rem;
    background-color: var(--color-5);
    border: none;
}

.form-control:focus {
    border-color: var(--color-4);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

.submit-btn{
    background-color: var(--color-2);
    border: none;
    border-radius: .6rem;
    margin: .5rem auto;
    padding: .65rem;
    width: 100%;
    color: var(--color-4);
}

.submit-btn:hover{
    background-color: var(--color-3);
    border-color: var(--color-4);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--color-2);
}

.msg-box{
    position: relative;
    width: 50%;
    background-color: var(--color-1);
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow:.2rem .3rem .4rem .1rem  var(--color-4);
    visibility: hidden;
}

.msg{
    text-align: center;
    font-style: italic;
    color: var(--color-4);
}

.close-btn{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
}

.text-center{
    text-align: center;
    color: var(--color-4);
    font-weight: bolder;
    font-weight: 600;
}

  